<%= form_tag user_profiles_path(@user), {class: 'profile-form', method: :post} do %>
  <div class="form-group">
    <%= label_tag 'question_1' %>
    <%= select_tag 'question_1',
          options_for_select(
            ['This is a liberal response',
              'This is a conservative response']),
          { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= label_tag 'question_2' %>
    <%= select_tag 'question_2',
          options_for_select(
            ['This is a liberal response',
             'This is a liberal conservative response',
             'This is a conservative response']),
          { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= label_tag 'Preferred Party' %>
    <%= select_tag 'party',
          options_for_select(
            ['Democrat',
             'Republican',
             'Green',
             'Libertarian',
             'Other']),
          { class: 'form-control' } %>
  </div>

  <%= submit_tag 'Submit', class: 'btn btn-primary' %>
<% end %>
