<%= form_tag user_profiles_path(@user), {class: 'profile-form', method: :post} do %>
  <div class="form-group">
    <%= label_tag 'question_1' %>
    <%= select_tag 'question_1', options_for_select(
      ['This is a liberal response',
       'This is a conservative response']) %>
  </div>

  <div class="form-group">
    <%= label_tag 'question_2' %>
    <%= select_tag 'question_2', options_for_select(
      ['This is a liberal response',
       'This is a liberal conservative response',
       'This is a conservative response']) %>
  </div>

  <%= submit_tag 'Submit' %>
<% end %>
