<!DOCTYPE html>
<html>
  <head>
    <title>PoliticalMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% unless flash.empty? %>
      <div class="flash">
        <% flash.each do |type, message| %>
          <%= content_tag :div, sanitize(message), class: type %>
        <% end %>
      </div>
    <% end %>
    <header class='home-header'>
      <div class="logo-group">
        <div class="logo">
          <h4>Logo</h4>
        </div>
        <div class="home-log-in">
          <% if current_user %>
            <%= link_to 'Dashboard', dashboard_path %>
          <% else %>
            <%= link_to 'Log In', login_path %>
          <% end %>
        </div>
      </div>
      <div class="center-group">
        <h2>Political Match</h2>
        <%= button_to 'Sign Up', sign_up_path, method: :get, class: 'btn btn-primary' %>
      </div>
    </header>

    <div class="about-us">
      <h3>About Political Match</h3>
      <ul class="about-us-cards">
        <li class="about-us-card">
          <h4>Political Pairing</h4>
        </li>
        <li class="about-us-card">
          <h4>Your Profile</h4>
        </li>
        <li class="about-us-card">
          <h4>Real Data</h4>
        </li>
      </ul>
    </div>
  </body>
</html>
