<!DOCTYPE html>
<html>
  <head>
    <title>PoliticalMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% unless flash.empty? %>
      <div class="flash">
        <% flash.each do |type, message| %>
          <%= content_tag :div, sanitize(message), class: type %>
        <% end %>
      </div>
    <% end %>
    <header class='home-header'>
      <div class="logo-group">
        <div class="logo">
          <%= link_to image_tag('logo.png') %>
        </div>
        <div class="home-log-in">
          <% if current_user %>
            <%= link_to 'Log Out', logout_path, method: :delete %>
          <% else %>
            <%= link_to 'Log In', login_path %>
          <% end %>
        </div>
      </div>
      <div class="center-group">
        <h1>Political Match</h1>
        <% if current_user %>
          <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-primary' %>
        <% else %>
          <%= button_to 'Sign Up', sign_up_path, method: :get, class: 'btn btn-primary' %>
        <% end %>
      </div>
    </header>

    <div class="about-us">
      <h2>About Political Match</h2>
      <div class="about-us-cards-container">
        <div class="about-us-card">
          <%= image_tag 'indico_logo.png' %>
          <h4>Indico Machine Learning</h4>
          <p>
            Indico Machine Learning algorithms determine the probability that text
            aligns with different political camps. For standard users the text submitted to the
            algorithm is a political survey. For politicians, Political Match regularly
            analyzes each congress member's twitter feed to determine how their public
            persona aligns with specific political ideologies.
          </p>
        </div>
        <div class="about-us-card">
          <%= image_tag 'twitter_logo.png' %>
          <h4>Congress Twitter Feeds</h4>
          <p>
            Political Match uses twitter feeds for each member of Congress to determine
            political ideology. By using their own social media, Political Match
            can accurately and regularly update the political profile of members of Congress.
          </p>
        </div>
        <div class="about-us-card">
          <%= image_tag 'propublica_small_logo.png' %>
          <h4>Political Pairing</h4>
          <p>
            Propublica provides data on members of Congress which, when used in conjunction
            with twitter data and Political Match algorithms, can pair you with the politicians
            that most agree with your political views. You can also browse the entire catalogue
            of congress to see how your profile compares with each member, or compare yourself
            to the elected representatives in your state.
          </p>
        </div>
      </div>
    </div>
    <div class="about-profile">
      <div class="about-profile-content">
        <%= image_tag 'profile_builder_cycle.png' %>
      </div>
    </div>
    <footer class="main-footer">
      <p>Political Match</p>
    </footer>
  </body>
</html>
