<% @political_matches.each do |match| %>
  <ul class="best-matches-card">
    <li class="politician"><%= match.model.title %> <%= match.model.first_name %> <%= match.model.last_name %></li>
    <li class="type">Political Type: <%= match.political_type %></li>
    <li class="preferred_party">Preferred Party: <%= match.preferred_party %></li>
    <div class="gauge-chart" id="gauge_chart_small">
      <script>
        var authority_rating = <%= match.authority_rating %>;
        var social_rating = <%= match.social_rating %>;
      </script>
    </div>
  </ul>
<% end %>
