<% @political_matches.each do |match| %>
  <ul class="best-matches-card">
    <li class="politician"><%= match.model.title %> <%= match.model.first_name %> <%= match.model.last_name %></li>
    <li class="type"><%= match.political_type %></li>
    <li class="preferred_party"><%= match.preferred_party %></li>
    <li class="authority_rating"><%= match.authority_rating %></li>
    <li class="social_rating"><%= match.social_rating %></li>
    <li class="overall"><%= match.overall %></li>
  </ul>
<% end %>
