<% @matcher.state_politicians.each do |match| %>
  <div class="best-matches-card">
    <div class="politician-bg-bar"></div>
    <div class="politician-image" id="<%= match.model.propublica_id %>">
      <span class="politician-image-id"><%= match.model.propublica_id %></span>
    </div>
    <ul class="matches-info">
      <a href="/politicians/<%= match.model.id %>"><%= match.model.title %> <%= match.model.first_name %> <%= match.model.last_name %></a>
      <li class="type">Type: <%= match.political_type %></li>
      <li class="preferred_party">Preferred Party: <%= match.preferred_party %></li>
    </ul>
    <div class="gauge-charts">
      <div id="auth-chart-<%= match.model.id %>"></div>
      <div id="soc-chart-<%= match.model.id %>"></div>
    </div>
  </div>
<% end %>
