<div class="politician-cards">
  <% @politicians.each do |politician| %>
    <ul class="politician-card">
      <div class="politician-image" id="<%= politician.propublica_id %>">
        <span class="politician-image-id"><%= politician.propublica_id %></span>
      </div>
      <h6><%= link_to "#{politician.title} #{politician.last_name}", politician_path(politician) %></h6>
      <li><%= politician.party %></li>
      <li><%= politician.state %></li>
    </ul>
  <% end %>
</div>
