<div class="politician-cards">
  <% @politicians.each do |politician| %>
    <div class="politician-card">
      <div class="politician-bg-bar"></div>
      <div class="politician-image" id="<%= politician.propublica_id %>">
        <span class="politician-image-id"><%= politician.propublica_id %></span>
      </div>
      <%= link_to "#{politician.title} #{politician.last_name}", politician_path(politician), class: 'politician-title' %>
      <div class="politician-info">
        <span class="politician-party">Party: <%= politician.party %></span>
        <span class="politician-state">State: <%= politician.state %></span>
      </div>
    </div>
  <% end %>
</div>
