<main class='dashboard'>
  <div class="politician-image-show" id="<%= @politician.propublica_id %>">
    <span class="politician-image-id"><%= @politician.propublica_id %></span>
  </div>
  <div class="welcome">
    <h3><%= @politician.first_name %> <%= @politician.last_name %></h3>
  </div>

  <div class="summary">
      <div class="profile-container">
        <h4>Political Profile:</h4>
        <% if @politician.profile.nil? %>
          <div class="profile-create">
            <span>This politician does not have a profile yet.</span>
          </div>
        <% else %>
          <% cache create_politician_key(@politician, 'politician-profile') do %>
            <div class="politician-info">
              <p>Party: <%= @politician.party %></p>
              <p>State: <%= @politician.state %></p>
              <p>Votes With Party: <%= "#{@politician.votes_with_party}%" %></p>
            </div>
            <%= render partial: 'profiles/summary' %>
          <% end %>
        <% end %>
      </div>
    <div class="overall">
      <h4>Overall Results:</h4>
      <div class='main-chart' id="chart_div"></div>
    </div>
  </div>
</main>
