<!DOCTYPE html>
<html>
  <head>
    <title>PoliticalMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <%= render partial: 'layouts/navbar' %>
    <% unless flash.empty? %>
      <div class="flash">
        <% flash.each do |type, message| %>
          <%= content_tag :div, sanitize(message), class: type %>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
